* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: initial;
}

*::placeholder {
    color: rgba(0, 0, 0, 0.7)
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
}

#intro {
    position: absolute;
    z-index: 9999999999;
    transition: all ease-in-out .5s;
    height: 100%;
    width: 100%;
    background-color: white;
}

#intro img {
    height: 50vh;
    width: 50vh;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
}

#introNotes {
    transform: translate(-50%, -70%);
    z-index: 9;
}

#introLoading {

    transform: translateX(-50%);
}

.create-notes {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #bfbfbf;
    transform: translate(-50%, -50%) scale(0);
    z-index: 99;
    overflow: hidden;
    padding: 2vw 1vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}


#cn-icons {
    position: absolute;
    top: 5%;
    right: 3%;
    font-size: 3vw;
    cursor: pointer;
}

#cn-icons img {
    height: 4rem;
    border-radius: 100%;
}

.cn-heading {
    width: 100%;
    outline: none;
    border: none;
    padding: 0vw 1vw;
    font-size: 2.3vw;
    font-weight: 600;
    background-color: #bfbfbf;
    margin-top: 3rem;
    resize: none;
}

.cn-heading::-webkit-scrollbar {
    display: none;
}

.cn-cont {
    outline: none;
    resize: none;
    height: calc(100% - 7rem);
    width: 100%;
    border: none;
    padding: 0vw 1vw;
    font-size: 1.3vw;
    background-color: #bfbfbf;
}

#cn-btn {
    position: absolute;
    right: 5%;
    bottom: 5%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
}

#cn-btn button {
    border: none;
    border-radius: 100%;
    overflow: hidden;
}

#cn-btn img {
    height: 5vw;
    width: 5vw;
    border-radius: 100%;
    font-size: 2vw;
    cursor: pointer;
}

#main {
    min-height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    padding: 1vw 2vw;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
}

#header {
    width: 100%;
}

#nav {
    height: 2.5rem;
    width: 100%;
    position: relative;
}

#search {
    height: 100%;
    width: 100%;
    padding: 0 2.7rem;
    border: none;
    border-radius: 100px;
    background: #d5d5d5;
    font-size: 0.7rem;
    outline: none;
}

#search::placeholder {
    color: black;
}

#left {
    position: absolute;
    top: 20%;
    left: 6px;
}

#more {
    align-self: center;
    font-size: 1.3rem;
    height: 1.7rem;
    border-radius: 100%;
}

#right {
    position: absolute;
    top: 10%;
    right: .5%;
    display: flex;
    gap: 1vw;
}

#flex {
    font-size: 1.3rem;
    align-self: center;
    height: 2rem;
}

#id {
    align-self: center;
    font-size: 1.3rem;
    height: 2rem;
    border-radius: 100%;
}

#notes-con {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 3rem;
    gap: 1vw;
    justify-content: space-evenly;
    position: relative;
}

#notes-con h6 {
    position: absolute;
    left: 50%;
    top: 5%;
    font-size: 1.3vw;
}

.note {
    height: 20rem;
    width: 15rem;
    background: aliceblue;
    display: flex;
    flex-direction: column;
    border-radius: 1vw;
    overflow: hidden;
    border: 1px solid gray;
    position: relative;
}

.note>img {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
    height:1.3rem;
    width: 1.3rem;
    position: absolute;
    bottom: 3%;
    right: 1vw;
    object-fit: cover;
    border-radius: 100px;
    cursor: pointer;
}

.note-heading {
    outline: none;
    padding: 1vw;
    font-size: 1.5vw;
    font-weight: 700;
    border: none;
    background-color: #bfbfbf;
    resize: none;
    word-wrap: break-word;
}

.note-cont {
    outline: none;
    height: 100%;
    padding: 0 1vw;
    border: none;
    font-size: 1vw;
    background-color: #bfbfbf;
    word-wrap: break-word;
}

.shareNote {
    background: white;
    padding: 2px;
    background: transparent;
}

.noteOpt {
    z-index: 9;
}

.colorNote {
    z-index: 1;
}

.colors>div {
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    right: 85%;
    bottom: 3%;
    border-radius: 100%;
    transition: all ease-in-out .1s;
    opacity: 0;
 border : 2px solid white;
}

.red {
    background: rgb(255, 201, 211);
    /* bottom: 20%; */
}

.green {
    background: rgb(120 215 120);
    /* bottom: 30%; */
}

.blue {
    background: rgb(119, 142, 211);
    /* bottom: 40%; */
}

#menu {
    background: whitesmoke;
    height: 100%;
    width: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    padding: 1vw 2vw;
    display: flex;
    flex-direction: column;
    border-radius: 0 .5vw .5vw 0;
    transform: translateX(-100%);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .7s;
}

#menu>div {
    align-items: center;
    font-size: 2vw;
    gap: 1vw;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .3s;
}

#menu>div:hover {
    background-color: lightblue;
    border-radius: 50px;
}

#menu>div img {
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
    border-radius: 100%;
}

#menu h3 {
    font-size: 1.3vw;
    text-align: center;
    font-family: monospace;
    font-weight: 900;
    margin-bottom: 2vw;
}

#menu>div i {
    height: 2rem;
    display: flex;
    align-items: center;
}

#menu>button {
    padding: 0.3rem 0;
    font-size: .8rem;
    font-weight: 500;
    border-radius: 0.3rem;
    border: 1px solid gray;
    margin-top: 1rem;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) .5s;
}

#menu>button:hover {
    background: black;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
}

#emptyContErr {
    transform: translate(-50%, -50%) scale(0);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    background: #000038;
    color: white;
    padding: 1vw 2vw;
    border-radius: 0.1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

#copySuccess{
    position: absolute;
    bottom: 8vw;
    left: 50vw;
    background: black;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 1vw;
    display: none;
}